{% extends 'homepage/base.html' %}
{% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"></h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">This is the Personal Finance Dashboard</h2>
                </div>
            </div>
        </div>
        {% block sidebar %} {% include 'homepage/sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}