{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Sitemap</h5>
    <div class="card-body">
        <p><a href="{% url 'post_list' %}"><button type="button" class="btn btn-primary btn-block">
            Blog</button></a></p>
        <p><a href="#"><button type="button" class="btn btn-primary btn-block">
            Personal Finance</button></a></p>
        <p><a href="#"><button type="button" class="btn btn-primary btn-block">
            Bank Negotiations</button></a></p>
        <p><a href="#"><button type="button" class="btn btn-primary btn-block">
            Property Negotiations</button></a></p>
    </div>
</div>
</div>

{% endblock sidebar %}